<div class="container" id="about">
  <div class="header">
    <h1>About Me</h1>
  </div><!-- end header -->
</div><!-- end container -->
<div class="container" id="about-contain">
  <div class="row">
    <div class="column">
      <div class = "col-xs-12 col-md-4">
      </div>
    <div class = "col-xs-12 col-md-4">
      <div class="intro column" id="intro-column">
        <h3>Introduction</h3>
        <p>I am a student at EBS Universität.</p>
      </div><!-- end intro -->
    </div>
      <div class = "col-xs-12 col-md-4">
        <div class="skill column" id="skill-column">
          <h3>My Skills</h3>
          <ul id="skill-list">
              <li>Communication</li>
              <li>Management</li>
              <li>Sales</li>
          </ul>
        </div><!-- end skill -->
      </div>
      <div class = "col-xs-12 col-md-12">
        <div class="intro ">
          <div class="main-text">
            <h3>My Story</h3>
            <p>Kale chips activated charcoal keffiyeh DIY, food truck PBR&B mustache helvetica messenger bag shoreditch. Flexitarian celiac franzen venmo synth, tote bag tumeric. Wayfarers ennui freegan pop-up bicycle rights flexitarian locavore. Photo booth crucifix artisan gochujang ennui. Lomo vaporware offal fingerstache. Four dollar toast neutra sriracha vinyl intelligentsia hot chicken mlkshk unicorn brunch knausgaard microdosing. Normcore vegan shabby chic ugh lyft</p>
          </div><!-- end main text -->
        </div>
      </div>
    </div>
  </div>
</div>
