<h1>Contact</h1>
<div class="info column">
  <h2>My Information</h2>
    <ul id="contact-info">
      <li>liamweinert@gmail.com</li>
      <li>+4915753891663</li>
      <li>Skype: liam.weinert</li>
      <li><a href="https://www.linkedin.com/in/liam-weinert/" target="_blank">LinkedIn</a></li>
    </ul><!-- end contact-info list -->
</div><!-- end info column -->
