// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  padding-top: 60px;
}

#bs-example-navbar-collapse-1 ul {
  list-style: none;
  padding-top: 15px;
  padding-right: 30px;
  text-align: right;

}
#bs-example-navbar-collapse-1 ul li {
  display: inline-block;
  font-size: 1.3em;
  padding-right: 15px;
}

#bs-example-navbar-collapse-1 ul li a {
  padding: 15px, 15px, 15px, 15px;
}
